# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/

# Streamlit logs and cache
.streamlit/

# Data files and outputs
*.csv
*.xlsx
*.pdf
*.json

# OS / Editor stuff
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment / secrets
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

